.carousel img {
    width: 100%;
    height: 100%;
    padding-right: 0;
    max-width: 100%;
}

ul.panes {
    margin-bottom: 0; /*** to remove gap between carousel and nav bar ***/
}

main {
    margin-bottom: 3em;
}

footer {
    height: auto; /*** updated from 50px so it is responsive ***/
    padding: .5em 5%;  /*** needed so it matches the padding on the body ***/
    background-color: #dedede;
}

.fixed ul li:first-child a {
    padding-left: 0;   /*** fix alignment of text when navbar becomes fixed ***/
}

.fixed ul li:first-child {
    padding-left: 5%;   /*** fix alignment  ot text when navbar becomes fixed ***/
}

h4 {
    margin-top: 1rem; /*** updated so it matches margin-bottom ***/
}

figcaption {
    width: auto; /*** original width: 30% causing problems ***/
    padding: .05em 1em;
}

.zoomBtn {
    margin-bottom: 10px;  /*** so when the buttons stack there is space between them ***/
}

ul.sideNav {
    margin-top: 50px;
    margin-left: 20px;
    list-style: none;
}

ul.sideNav li a {
    text-decoration: none;
}


